
@media screen and (max-width: 800px) {
    /* Når skjermstørrelsen blir  */
    .grid-container {
        display: grid;
        grid-template-columns: 2fr; /* med to kan jeg ha klokke og profilbilde ved sidnav hverandre */
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            'endreFarge endreFarge'
            'top top'
            'meny meny'
            'omMeg omMeg'
            'koding koding'
            'media media'
            'animasjon animasjon'
            'skole skole'
            ;
    }

    .meny nav{
            display: flex;
            flex-direction: row;
            justify-content: center;
    }
    h2{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    /* Når skjermen er liten, så vil biletet i main ta heile bredda. */
    .flyt {
        float: none;
        display: block;
        max-width: 100%;
        width: 100%;
        justify-content: center;
    }

    .flyte {
        float: none;
        display: block;
        max-width: 100%;
        width: 100%;
        justify-content: center;
    }

    .body{
        scrollbar-width: none;
    }
    /* Skriftstørrelsen i header blir mindre på mobil. */
    #tittel {
        font-size: 1rem;
    }
}